APP_ENV=development
SERVICE_NAME=predict_engine_host
HOST=0.0.0.0
PORT=8001
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_MAX_WORKERS=10
MODEL_PATH=./models/model.onnx
MODEL_INPUT_NAME=
MODEL_FEATURE_NAMES=
MODEL_OUTPUT_NAMES=
MODEL_EXECUTION_PROVIDERS=
